<form class="form-horizontal" action="/api/users" method="POST" id="add_user">
    <div class="new_user">
		<legend>Register</legend>
        <div class="control-group">
			<label class="control-label" for="username">User Name</label>
            <div class="controls">
				<input type="text" name="username" class="input-xlarge" id="username" name="username">
				<p class="help-block">你的Account的Name，用於Login和顯示。</p>
			</div>
		</div>
        <div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="text" name="password" class="input-xlarge" id="password"  >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password_repeat">Password Repeat</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="password_repeat" name="password_repeat">
			</div>
			<% if(typeof errors != 'undefined'){ %> 
				<% errors.forEach(function(error) { %>
					<%-JSON.stringify({ err: error.msg})%>
				<% }); %> 
			<% } %>
		</div>
		<div class="form-actions">
			<% function check(){ %>
				<% if (loginStatus) { %>
					<li><a href="/logout">登出</a></li>
				<% } else{ %>
					<li><a href="/login">Login</a></li>
					<li><a href="/reg">Register</a></li>
				<% } %>
			<% } %>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    </div>
</form>


<form class="form-horizontal" method="POST" id="add_user">
	<fieldset>
		<legend>Register</legend>
		<div class="control-group">
			<label class="control-label" for="username">User Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="username" name="username">
				<p class="help-block">你的Account的Name，用於Login和顯示。</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password_repeat">Password Repeat</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password_repeat" name="password_repeat">
			</div>
			<% if(typeof errors != 'undefined'){ %> 
				<% errors.forEach(function(error) { %>
					<%-JSON.stringify({ err: error.msg})%>
				<% }); %> 
			<% } %>
		</div>
		<div class="form-actions">
			<% function check(){ %>
				<% if (loginStatus) { %>
					<li><a href="/logout">登出</a></li>
				<% } else{ %>
					<li><a href="/login">Login</a></li>
					<li><a href="/reg">Register</a></li>
				<% } %>
			<% } %>
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
	</fieldset>
</form> 